<div
  class="flex flex-col items-center justify-center overflow-hidden rounded-r-xl rounded-l-xl bg-[#f5f5f5] p-4"
>
  <!-- Sliding Text -->
  <div class="overflow-hidden whitespace-nowrap">
    <h1 class="inline-block text-9xl animate-slide font-[LoveNature] text-center">
      FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE FINNEGAN MONROE 
    </h1>
  </div>

  <!-- Horizontal Line -->
  <hr class="w-full my-4 border-t-2 border-gray-400" />
  
</div>
