<nav class="flex justify-between py-2 px-1 w-full max-w-6xl mx-auto cursor-pointer">
  <!-- Profile Picture -->
  <div class="flex items-center space-x-3">
      <h1 class="text-[#343434] text-2xl hover:text-black hover:font-bold duration-300  ">Elis Wal</h1>
  </div>


  <!-- Status Text -->
  <div class="text-gray-100 text-sm flex items-center space-x-8">
      <span class="bg-red-600 w-2 h-2 rounded-full inline-block"></span>
      <span class="text-[#343434]">Bookings open</span>
      <button (click)="openLoginPopup()" class="text-[#343434] hover:bg-zinc-300 rounded-xl p-1">Admin</button>
  </div>
  <div class="flex list-none gap-20 ">
    <li class="hover:text-black text-lg"><a routerLink="/">Home</a></li>
      <li class="hover:text-black text-lg"><a routerLink="/about">About</a></li>
      <li class="text-lg hover:text-black"><a routerLink="/work">Work</a></li>
  </div>
</nav>
<app-login-popup *ngIf="showLoginPopup" (close)="closeLoginPopup()"></app-login-popup>

