<div class="flex flex-row justify-center items-center">
    <div class="text-center pt-20">
        <h1 class="text-8xl">Let's Talk</h1>
        <form  class="pt-20 gap-10 bg-slate-400 w-1/2 h-auto">
            <label class="block">Name: <input type="text" placeholder="Name" class="w-full"/></label>
            <label class="block">E-mail: <input type="email" placeholder="Email" class="w-full"/></label>
            <label class="block">Number: <input type="number" placeholder="Number" class="w-full"/></label>

            <button class="bg-blue-600 w-full">Submit</button>
        </form>
    </div>
</div>

<app-footer></app-footer>