<div className="grid grid-cols-1 gap-4 p-10 border-2 bg-gray-100 h-screen pt-20">
    <div className="text-center relative overflow-hidden">
        <!-- <video class="mx-auto rounded-xl w-screen h-[80vh] object-cover" autoplay muted loop>
            <source src="assets/v_bg.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video> -->
        <!-- <h1 className="pt-80 text-[18vw] font-['SummerCharming'] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-100 whitespace-nowrap">
            Capture Moments
        </h1> -->

        <h1 class="text-lg pt-20 pl-[60vw] pr-5">HI, FINNEGAN MONROE HERE. I’M A FREELANCE PHOTOGRAPHER IN NY AND THE SHUTTERBUG  CAPTURING LIFE'S MAGICAL MOMENTS ONE CLICK AT A TIME.
            <div class="pt-5 pl-80 ">
                
                <p-button class="border-2 font-bold hover:border-gray-600 text-lg rounded-lg hover:text-yellow-600 transition-colors duration-300">Book Me</p-button>
            </div>
        </h1>
        
    </div>
</div>