<div className=" landing_page grid grid-cols-1 gap-4 p-10 border-2 bg-gray-100 h-screen pt-20">
  <div className="text-center relative justify-between overflow-hidden">
    <h1 class="text-lg pt-20 pl-[60vw] pr-5 ">
      HI, FINNEGAN MONROE HERE. I’M A FREELANCE PHOTOGRAPHER IN NY AND THE
      SHUTTERBUG CAPTURING LIFE'S MAGICAL MOMENTS ONE CLICK AT A TIME.
      <div class="pt-8 pl-60 text-center">
        <div
          class="w-48 border-2 p-1 text-[#343434] text-lg rounded-xl hover:text-black bg-[#b4e925] hover:bg-lime-200 transition-colors duration-300">
          <a routerLink="/contact">BOOK A SESSION</a></div>
      </div>
    </h1>
  </div>

  <div class="pl-10 pt-[20vh]">
    <h1 class="text-9xl font-[ApothemCapsMedium] text-Transition">
      Capturing&nbsp;Life's&nbsp;Best Moments
    </h1>
  </div>

  <div #scrollDiv class="text-center pt-5">
    <p class="text-animation">Scroll Down</p>
    <hr class="border-t-2 border-gray-300 my-4" />
    <!--used for line -->
  </div>
</div>

<!-- about -->

<div #slider class=" flex flex-row gap-4 overflow-x-hidden scroll-smooth whitespace-nowrap w-[100vw] h-[30vw] no-scrollbar">
  <div class="bg-transparent rounded-xl p-6 flex-shrink-0 min-w-[300px]">
    <img class="w-full h-full object-cover rounded-xl" src="work2.jpg" alt="Work Sample 2" width="400" height="200" /> </div>
  <div class="rounded-xl p-6 flex-shrink-0 min-w-[300px]">
    <img  class="w-full h-full object-cover rounded-xl" src="work3.jpg" alt="Work Sample 2" width="300" height="200" />  </div>
  <div class=" rounded-xl p-6 flex-shrink-0 min-w-[300px]">
    <img class="w-full h-full object-cover rounded-xl" src="work4.jpg" alt="Work Sample 2" width="300" height="200" />  </div>
  <div class=" rounded-xl p-6 flex-shrink-0 min-w-[300px]">
    <img class="w-full h-full object-cover rounded-xl" src="work5.jpg" alt="Work Sample 2" width="300" height="200" />  </div> 
  </div>

<!-- ending -->
<app-testimonial></app-testimonial>



