<div class="w-screen h-screen flex pt-10">
    <!-- Left side with "Gallery" text -->
    <div class="w-1/2 h-screen flex flex-col items-center justify-center">
        <h1 class="text-9xl font-[ApothemCapsMedium]">Gallery</h1>
        <p class="text-lg text-gray-700 mt-4 p-20">Capturing life's precious moments through the lens of a camera is not just about taking pictures, it's about telling stories that evoke emotions and spark connections.</p>
    </div>

    <!-- Right side with scrolling images -->
    <div class="w-1/2 h-screen overflow-y-scroll p-5 no-scrollbar">
        <div class="grid grid-cols-1 gap-4">
            <img src="img1.jpg" alt="" class="w-full h-auto object-cover" />
            <img src="img2.jpg" alt="" class="w-full h-auto object-cover" />
            <img src="img3.jpg" alt="" class="w-full h-auto object-cover" />
            <img src="img4.jpg" alt="" class="w-full h-auto object-cover" />
            <img src="img5.jpg" alt="" class="w-full h-auto object-cover" />
            <img src="img6.jpg" alt="" class="w-full h-auto object-cover" />
        </div>
    </div>
</div>
<div #scrollDiv class="text-center pt-14">
    <p class="">Scroll Down</p>
    <hr class="border-t-2 border-gray-300 my-4" />
    <!--used for line -->
</div>


