<div class="flex min-h-screen">
  <!-- Sidebar -->
  <aside
    [class.w-16]="isCollapsed"
    [class.w-64]="!isCollapsed"
    class=" transition-all duration-300 "
  >
    <div class="p-6 flex items-center justify-between ">
      <div *ngIf="!isCollapsed" class="transition-opacity duration-300">
        <h1 class="text-xl">FINNEGAN MONROE</h1>
        <p class="text-sm text-zinc-900">Photographer</p>
      </div>
      <!-- Toggle Button -->
      <button
        (click)="toggleSidebar()"
        class="p-1 bg-gray-200 hover:bg-lime-200 rounded-full">
        <span *ngIf="isCollapsed">➔</span>
        <span *ngIf="!isCollapsed">←</span>
      </button>
    </div>
    <nav class=" fixed pt-10 font-semibold">
      <ul>
        <li class="mb-2">
          <a routerLink="./" routerLinkActive="active"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-lime-200 rounded"
          >
            <span class="text-lg">🏠</span>
            <span
              *ngIf="!isCollapsed"
              class="ml-3 transition-opacity duration-300"
            >
              Home
            </span>
          </a>
        </li>
        <li class="mb-2">
          <a
            routerLink="list" routerLinkActive="active"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-lime-200 rounded"
          >
            <span class="text-lg">🛒</span>
            <span
              *ngIf="!isCollapsed"
              class="ml-3 transition-opacity duration-300"
            >
              Bookings
            </span>
          </a>
        </li>
        <li class="mb-2">
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-lime-200 rounded"
          >
            <span class="text-lg">📁</span>
            <span
              *ngIf="!isCollapsed"
              class="ml-3 transition-opacity duration-300"
            >
              Projects
            </span>
          </a>
        </li>
        <li class="mb-2">
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-lime-200 rounded"
          >
            <span class="text-lg">💼</span>
            <span
              *ngIf="!isCollapsed"
              class="ml-3 transition-opacity duration-300"
            >
              Services
            </span>
          </a>
        </li>
        <div class="pt-10">
          <button
            (click)="logout()"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-lime-200 rounded"
          >
            <span class="text-lg">↩</span>
            <span
              *ngIf="!isCollapsed"
              class="ml-3 transition-opacity duration-300"
            >
              Logout
            </span>
          </button>
        </div>
      </ul>
    </nav>
    <hr class="my-6 border-gray-200" />
  </aside>

  <!-- Main Content -->
  <div class="flex-1 pl-10 m-5 overflow-y-auto">
    <router-outlet></router-outlet> <!-- Child routes load here -->
  </div>
</div>


