<div class="flex min-h-screen"> 
    <div class="flex-1 m-1">
        <div>
            <h1 class="text-6xl text-black font-[LoveNature]">Bookings</h1>
                <p class="text-xl">Manage Your Bookings Effortlessly ✍</p>
                <hr class="border-t-2 border-gray-300 my-4" />  
        </div>
        <div class="search_bar text-end pr-20">
            <input type="search" [(ngModel)]="search"(input)="onSearchChange()" 
            placeholder=" Search for names.. 🔎" 
            class="pl-1 border border-zinc-800 rounded-lg " />
        </div>
        

        
        <div class="text-center pl-10 justify-center items-center pt-20">
            <table class="min-w-[70vw]  border-collapse border border-gray-300">
                <thead>
                  <tr class="text-xl text-white">
                    <th class="border border-gray-400 bg-blue-700 px-4 py-2">Name</th>
                    <th class="border border-gray-400 px-4 py-2 bg-blue-700 text-white">Email</th>
                    <th class="border border-gray-400 px-4 py-2 bg-blue-700 text-white">Message</th>
                    <th class="border border-gray-400 px-4 py-1 bg-blue-700 text-white">Date</th>
                    <th class="border border-gray-400 px-4 py-1 bg-blue-700 text-white">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings">
                        <td class="border border-gray-800 px-4 py-2">{{ booking.name }}</td>
                        <td class="border border-gray-800 px-4 py-2">{{ booking.email }}</td>
                        <td class="border border-gray-800 px-4 py-2">{{ booking.message }}</td>
                        <td class="border border-gray-800 px-4 py-2">{{ booking.date | date: 'short' }}</td>
                        <td class="border border-gray-800">
                            <!-- <button  (click)="updateBooking(booking)">
                                <img src="pencil_icon.png" alt="Update_icon" style="width: 28px; height: 28px;" />
                            </button> -->
                            <button (click)="deleteBooking(booking._id)">
                                <img src="deleticon.png" alt="Delete" style="width: 28px; height: 28px;">
                            </button>
                        </td>
                    </tr>
                </tbody>
                </table>
                
        </div>
    </div>
</div>